<!DOCTYPE html>
<html lang="pt_br"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Proffy | Sua plataforma de estudos</title>

    <meta name="theme-color" content="#8257E5"> <!-- Icone em cima da página-->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/page_give_classes.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    
    <script src="/scripts/addField.js" defer></script>

</head>
<body id="page_give_classes">
    <div id="container"> 
        <header class="page_header">
            <div class="top_bar_container">
                <a href="/">
                    <img src="/images/icons/back.svg" alt="Voltar">
                </a>
                <img src="/images/logo.svg" alt="Proffy">
            </div>

            <div class="header_content">
                <strong>Que incrível que você quer dar aulas.</strong>
                <p>O primeiro passo é preencher esse formulário de inscrição</p>
            </div>

        </header>

        <main>
            <form action="/save_classes" id="create_class" method="POST">
                <!-- Cada fieldset é uma repartições do formulário: Dados, Sobre a Aula e Horário Disponíveis-->
                <fieldset> 
                    <legend>Seus dados</legend>
                    <!-- Colocaremos tudo que tem dentro da área "seus dados" do formulário por meio de divs, label, input; serão 4 -->
                    
                    <div class="input_block">
                        <label for="id">Seu ID:</label>
                        <input name="id" type="text" id="id" required>
                    </div>

                </fieldset>

            </form>
            <!-- Sempre que tivermos um formulário colocamos o footer dentro para podermos colocar o button como submit, mas por conta do layot está fora.-->
            <!-- No butão depois de type="submit" só colocar form="create_class"-->
            <footer>
                <p>
                    <img src="/images/icons/warning.svg" alt="Aviso importante">
                    Importante! <br> Preencha todos os dados
                </p>
                <button type="submit" form="create_class">
                    Salvar cadastro
                </button>
            </footer>
        </main>
    </div>
</body>
</html> 